/* Reset css*/
html, body, body * {
	margin: 0;
}

/* clearfix css*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* styles css*/
.container {
	max-width: 800px;
	margin: 0 auto;
}

header {
	background-color:black;
    box-shadow: 0 2px 12px 2px rgba(0,0,0,0.3);
}

body {
    min-height: 100vh;
    background:#f1f1f1;
}

.body-content{
	padding: 0 40px;
}

.menu {
	float: right;
	margin: 0;
}

.menu li {
	list-style: none;
	float: left;
  margin: 0;
}

.menu li a {
    padding: 14px;
    text-decoration: none;
    display: block;
    min-width: 50px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}

.menu li a:hover {
	background-color: #47474c;
}

.img-container {
	box-shadow: 0 2px 12px 2px rgba(0,0,0,0.3);
  /*display: inline;*/
  width: 100%;
}

.img-container img {
   width: 100vw;
   /*float: left;*/
    height: 420px;
    /*display: inline;*/
}

.img-container1 img {
    height: 500px;
    width: 700px;
}

.img-container2 img {
    height: 600px;
    width: 450px  ;
}

.img-container3 img {
    height: 600px;
    width: 450px  ;
}

h3 {
    font-size: 35px;
    line-height: 30px;
    margin: 15px 0;
}


p { 
    margin-bottom: 8px;
}
li{
   margin-bottom: 10px;

}
.logo {
    text-decoration: none;
    color: #fff;
    padding: 12px 0;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
}
